<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="own.supermariowallpaper" >

    <uses-feature android:required="true" android:name="android.software.live_wallpaper"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/mario"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".CrashReport">
        <service android:name=".wallpaper$WeatherService"></service>
        <service android:enabled="true"
            android:name="wallpaper"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data android:resource="@xml/wallpaper" android:name="android.service.wallpaper"/>
        </service>
        <activity android:label="@string/app_name" android:icon="@drawable/mario" android:name="OpenActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
